/* ==UserStyle==
@name        UTW Dracula
@version     1.0.0
@namespace   deing
@license     WTFPL
==/UserStyle== */
@-moz-document domain("unofficial-tildes-wiki.gitlab.io") {
body {
    background-color: #282a36;
    color: #f8f8f2;
}
body main article h2 {
    color: #f8f8f2;
}
body main a {
	color: #50fa7b;
}
body main footer {
	border-top: 3px solid #44475a;
}
body main article h1 {
    border-bottom: 3px solid #44475a;
}
}