@media screen and (max-width: 130ch)
	body
		main
			width: 100%
			padding: 0
			aside#toc + article 
				margin-top: 2.5rem
			aside#toc
				display: none
			aside#toc:target
				display: block
				position: fixed
				background-color: #44475a
				top: 0
				left: 0
				width: 100%
				h2
					display: none
				ul
					li
						display: inline-block
						padding: .3rem
						a
							color: #bd93f9
				li > ul > li > ul > li > a
					color: #8be9fd
			a#toc-open, a#toc-close
				padding: .5rem
				display: block
				width: 100%
				text-align: center
				background-color: #44475a
				color: #f8f8f2				
			a#toc-open
				position: fixed
				top: 0
				left: 0
			a#toc-close
				font-weight: bold
			article
				display: block
				max-width: 70ch