$bg: #282a36
$fg: #f8f8f2
$blue: #8be9fd
$orange: #ffb86c
$weird-grey: #44475a
$highlight-bg: rgba(0,0,0,0.3)

body
	background-color: $bg
	font-family: "lato"
	color: $fg
	margin: 0 .3rem 0 .3rem
	main
		h1.utw-notice
			background-color: $orange
			color: $bg
		padding: 0 .3rem 0 .3rem
		a
			color: $blue
			text-decoration: none
			&:hover, &:focus
				text-decoration: underline
		article, footer
			margin: 0
		article
			h2, p, ul, figure, table, h3, blockquote, pre, ol
				font-size: 1rem
				margin: .4rem 0 .4rem 0
				line-height: 1.5
			h2, h3
				border-bottom: 3px solid $weird-grey
				&:target
					border-bottom: 3px solid $orange
			h2
				text-transform: uppercase
			h3
				display: inline-block
			code
				padding: 2px
				border-radius: 1px
				background-color: $highlight-bg
				font-size: .9rem
			blockquote
				font-style: italic
				background-color: $highlight-bg
				padding: 1rem
				border-radius: 2px
			ul
				padding-left: 0
				li
					list-style-type: '~ '
					margin-left: 2ch
					ul
						padding-left: 2ch
			table
				width: 100%
				border-collapse: collapse
				border-bottom: 3px solid $highlight-bg
				td
					border-right: 3px solid $highlight-bg
					padding: 3px
					&:last-child
						border-right: none
				tr
					&.even
						background-color: $highlight-bg
					&.header
						background-color: $highlight-bg
						th
							padding: 3px
							text-align: left
			h1
				font-size: 1.3rem
				padding: .3rem
				font-family: lato
				text-transform: uppercase
				background-color: $weird-grey
				text-align: center
			pre
				padding: 2px
				border-radius: 1px
				background-color: $highlight-bg
				font-size: .9rem
				overflow-x: auto
				code
					background-color: unset
					a
						&:hover, &:focus
							text-decoration: none
						color: unset
		footer
			text-align: center
			font-family: "lato"
			border-top: 3px solid $weird-grey
			padding: .3rem
			margin: 1rem 0
		nav
			text-align: center
			font-family: "lato"
			padding: 0 0 .3rem 0
			margin: 0
			ul
				padding: 0
				margin: 0
				li
					list-style-type: none
					display: inline
		hr
			display: none
	aside#toc
		width: 30ch
		position: fixed
		top: 1rem
		left: 1rem
		&> ul > li > a
			display: none
		ul
			padding: 0
			li
				list-style-type: none
				li li
					padding-left: 1ch
		h2
			text-transform: uppercase
			font-size: 1rem
			margin: 0
			cursor: pointer

@import '_desktop.sass'
@import '_mobile.sass'

@font-face
	src: url("la_re.woff2")
	font-family: "lato"
	font-weight: normal
@font-face
	src: url("la_b.woff2")
	font-family: "lato"
	font-weight: bold
@font-face
	src: url("la_it.woff2")
	font-family: "lato"
	font-style: italic
